{% extends 'base.html.twig' %}

{% block title %}All Activities{% endblock %}

{% block body %}
    {{ parent() }}
    <a href="{{ path("activity_new") }}" class="btn green accent-4">Nouvelle Activité</a>

    <div class="row">
        <div class="col s12">
            <h4>Toutes les activités</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="#" class="btn" id="hideFilters">Masquer les filtres</a>
            <form id="filterForm" action="#">
                <ul id="filters">
                    {% for tag in tags %}
                        <li>
                            <label>
                                <input type="checkbox" id="{{ tag.name }}" value="{{ tag.name }}" />
                                <span>{{ tag.name }}</span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <ul>
                    <li>
                        <label>
                            <input type="checkbox" id="ownActivities" value="true" />
                            <span>Afficher seulement vos activités</span>
                        </label>
                    </li>
                </ul>
                <a href="#" class="btn grey lighten-1" id="filterActivities">Filtrer</a>
            </form>
            <a href="#" class="btn" id="showFilters">Afficher les filtres</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12" id="activities">

        </div>
    </div>

    <div id="data" hidden>{{ apiToken }}</div>
    <div id="userid" hidden>{{ app.user.id }}</div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/filterAdminActivities.js') }}"></script>
    {% endblock %}