{% extends 'base.html.twig' %}

{% block title %}Toutes les applications{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col s12">
            <h4>Toutes les applications</h4>
            <table id="table" class="responsive-table">
                <thead>
                <tr id="tableHead">
                    <th>Etudiant</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn" id="saveConfig">Sauvegarder</button>
        </div>
    </div>

    <div id="users" data-users="{{ users|json_encode }}"></div>
    <div id="acties" data-acties="{{ activities|json_encode }}"></div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/divideActivities.js') }}">
    </script>

{% endblock %}