{% extends 'base.html.twig' %}

{% block title %}Toutes les moments des activités{% endblock %}

{% block body %}
    {{ parent() }}
    <a href="{{ path("activity_moment_new") }}" class="btn green accent-4">Nouveau Moment</a>

    <div class="row">
        <div class="col s12">
            <h4>Toutes les moments des activités</h4>
            <div>
                {{ knp_pagination_render(activityMoments) }}
            </div>
            <table>
                <thead>
                <th>Name and location</th>
                <th>Start</th>
                <th>End</th>
                <th>Action</th>
                </thead>
                <tbody>
                {% for moment in activityMoments %}
                    <tr>
                        <td>
                            {{ moment.name }} - {{ moment.location }}
                        </td>
                        <td>{{ moment.startDate | date('d/m/Y') }} - {{ moment.startTime | date('H:i') }}</td>
                        <td>{{ moment.endDate | date('d/m/Y') }} - {{ moment.endTime | date('H:i') }}</td>
                        <td>
                            <a href=""><i class="material-icons red-text text-accent-4">delete</i></a>
                            <a href=""><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                {{ knp_pagination_render(activityMoments) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
{% endblock %}