{% extends 'base.html.twig' %}

{% block title %}Détails de Compte{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col m3"></div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content">
                    <span class="card-title white-text">Changer votre mot de passe</span>
                    <div class="row">
                        {% if error %}
                            <div class="red-text">{{ error }}</div>
                        {% endif %}
                        {{ form_start(changePasswordForm, {'attr': {'class': 'white-text'}}) }}
                        {{ form_row(changePasswordForm.old_password, {'attr': {'class': 'white-text'}}) }}
                        {{ form_row(changePasswordForm.new_password, {'attr': {'class': 'white-text'}}) }}
                        {{ form_row(changePasswordForm.new_password_confirm, {'attr': {'class': 'white-text'}}) }}
                    </div>
                    <button class="btn green accent-4" type="submit">
                        Sauvegarder
                    </button>
                    {{ form_end(changePasswordForm) }}
                </div>
                <div class="card-action">
                    <a href="{{ path('home') }}" class="btn red accent-4">Annuler</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}