{% extends 'base.html.twig' %}

{% block title %}All Blogposts{% endblock %}

{% block body %}
    {{ parent() }}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
        <a href="{{ path("blog_new") }}" class="btn green accent-4">Nouveau BlogPost</a>
    {% endif %}
    <div class="row">
        <div class="col s12">
            <h4>Toutes les blogs</h4>
            <table>
                <thead>
                <th>Name</th>
                {% if app.user %}
                    <th>Action</th>
                {% endif %}
                </thead>
                <tbody>
                {% for post in blogPosts %}
                    <tr>
                        <td>
                            <a href="{{ path('blog_show', {'id': post.id}) }}">{{ post.title }} by {{ post.user.firstname }} {{ post.user.lastname }} at {{ post.datetime | date('d/m/y H:i') }}</a>
                        </td>
                        {% if app.user %}
                        <td>
                            {% if post.user.id == app.user.id or 'ROLE_ADMIN' in app.user.roles %}
                                <a href="{{ path('blog_edit', {'id': post.id}) }}"><i class="material-icons ">edit</i></a>
                                <a href="{{ path('blog_delete', {'id': post.id}) }}"><i class="material-icons red-text text-accent-4">delete</i></a>
                            {% else %}
                                <a class="grey-text lighten-1"><i class="material-icons">edit</i></a>
                                <a class="grey-text lighten-1"><i class="material-icons">delete</i></a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="data" hidden>{{ apiToken }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}