{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col s12">
            <h3>{{ post.title }}</h3>
            <h5>{{ post.user.firstname }} {{ post.user.lastname }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
                <div class="card-image">
                    <img src="http://lorempixel.com/800/400/technics" alt="">
                </div>
                <div class="card-content white-text">
                    <p>
                        {{ post.body | raw }}
                    </p>
                    <br>
                    <button class="btn grey lighten-2 black-text" id="openCommentForm">Ajouter un commentaire</button>
                    <div class="row" id="commentView" hidden style="margin-top: 20px">
                        <input type="hidden" value="{{ post.id }}" id="postId"/>
                        <input type="hidden" value="{{ app.user.id }}" id="userId"/>
                        <div class="input-field col s12">
                            <input placeholder="Commentaire" id="commentBody" type="text" class="validate">
                            <label for="commentBody">Ecrivez votre commentaire</label>
                        </div>
                        <div class="col s12">
                            <button class="btn green accent-4" id="addComment">
                                Ajouter
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-action" id="commentSection">

                </div>
            </div>
        </div>
        <div class="col s12">
            <a href="{{ path('blog') }}" class="btn red accent-2">Retourner</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/commentForm.js') }}"></script>
{% endblock %}