{% extends 'base.html.twig' %}

{% block title %}Calendrier Personelle{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/fullcalendar/core/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('js/fullcalendar/daygrid/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('js/fullcalendar/timegrid/main.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/core/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/daygrid/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/timegrid/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fullcalendar/core/locales/fr.js') }}"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="data" hidden>{{ userId }}</div>
    <div id="calendar">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/personalCalendar.js') }}"></script>
{% endblock %}