{% extends 'base.html.twig' %}

{% block title %}All Activities{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row">
        <div class="col s12">
            <h4>Toutes les activités</h4>

            {% for activity in activities %}
                <div class="col s12 m4">
                    <div class="card large blue-grey darken-1">
                        <div class="card-image">
                            {% if activity.mainImage is null %}
                                <img src="http://lorempixel.com/800/400/technics" alt="">
                            {% else %}
                                <img src="{{ asset('uploads/' ~ activity.mainImage) }}" alt="">
                            {% endif %}
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title">{{ activity.name }}</span>
                            <div class="row"></div>
                            <p><b>Inscriptions:</b> 5/{{ activity.maxAmountStudents }}</p>
                            <br/>
                            <p>
                                {{ activity.description }}
                            </p>

                        </div>
                        <div class="card-action">
                            <a href="{{ path("activity_show", {'id': activity.id})}}">Plus d'info</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
{% endblock %}