{% extends 'base.html.twig' %}

{% block title %}All activities{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col s12">
            <h4>Toutes les activités</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="#" class="btn" id="hideFilters">Masquer les filtres</a>
            <form id="filterForm" action="#">
                <ul>
                    {% for tag in tags %}
                        <li>
                            <label>
                                <input type="checkbox" id="{{ tag.name }}" value="{{ tag.name }}" />
                                <span>{{ tag.name }}</span>
                            </label>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="#" class="btn grey lighten-1" id="filterActivities">Filtrer</a>
                    </li>
                </ul>
            </form>
            <a href="#" class="btn" id="showFilters">Afficher les filtres</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12"  id="activities">
        </div>
    </div>

    <div id="data" hidden>{{ apiToken }}</div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/filterUserActivities.js') }}"></script>
{% endblock %}