{% extends 'base.html.twig' %}

{% block title %}Nouvelle activité{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col s12">

            <div class="card blue-grey darken-1">
                <div class="card-content">
                    <span class="card-title white-text">Création d'une nouvelle activité</span>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.name, {'attr': {'class': 'white-text'}}) }}
                    {{ form_row(form.description, {'attr': {'class': 'materialize-textarea white-text'}}) }}
                    {{ form_row(form.tags, {'attr': {'class': 'white-text wit'}}) }}
                    {{ form_row(form.maxAmountStudents,{'attr': {'class': 'white-text'}}) }}
                    {{ form_row(form.semester, {'attr': {'class': 'white-text wit'}}) }}
                    {{ form_row(form.mainImage) }}
                    {{ form_row(form.files) }}
                    <div class="row">
                        <div class="col s12">
                            {{ form_widget(form.save, {'attr': {'class': 'btn green accent-4'}}) }}
                            <a class="btn red accent-2" href="{{ path('activity') }}">Retourner</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
{% endblock %}