{% extends 'base.html.twig' %}

{% block title %}Modifier groupe{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col s12">
            <input type="hidden" value="{{ activity.id }}" id="activityId"/>
            <div class="card blue-grey darken-1">
                <div class="card-content">
                    <div id="content">
                        <h4 class="white-text">{{ activity.name }}</h4>
                        <h5 class="white-text">Utilisateurs non assignés:</h5>
                        <ul class="white-text sortable" id="unassignedUsers">
                            <p>Traînez ici</p>
                        </ul>
                    </div>
                    <a class="btn green accent-4 button-press button-click" id="saveGroup">Sauvegarder</a>
                    <a class="btn red accent-2" href="{{ path('activity_group') }}">Retourner</a>
                </div>

            </div>
        </div>
    </div>
    <div id="data" hidden>{{ apiToken }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/assign.js') }}"></script>
{% endblock %}