{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col s12 m3">
            <div class="card blue-grey darken-1 pushpin">
                <div class="card-content white-text">
                    <span class="card-title">Blog</span>
                    <div class="card-action">
                        <ul>
                            <li><a href="" class="orange-text text-lighten-2">Lorem</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Ipsum</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Dolor</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Sit</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Amet</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Consectetur</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Adipisicing</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Elit</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Neque</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Dolermenque</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Esse</a></li>
                            <li><a href="" class="orange-text text-lighten-2">Autem</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l9">
            <div class="card blue-grey darken-1">
                <div class="card-image">
                    <img src="http://lorempixel.com/800/400/technics" alt="">
                </div>
                <div class="card-content white-text">
                    <span class="card-title">{{ latest_blog_post.title }}</span>
                    <span style="font-style:italic">{{ latest_blog_post.user.firstName }} {{ latest_blog_post.user.lastName }} {{ latest_blog_post.datetime | date('d/m/y H:i') }}</span>
                    <p>
                        {{ latest_blog_post.body | raw }}
                    </p>
                </div>
                <div class="card-action">
                    <a href="{{ path("blog_show", {'id': latest_blog_post.id})}}">Regardez le post</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
{% endblock %}

