<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}
</head>


<body>
<header>
    {% block nav %}
        <section id="navbar" style="padding-bottom:10px">
            <nav>
                <div class="nav-wrapper teal lighten-3">
                    <a href="{{ path('home') }}" class="brand-logo" style="margin-left: 10px">Club Inno</a>
                    <ul class="right hide-on-med-and-down">
                        {% if not is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('blog') }}">Voir les blogs</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('admin_list_activities') }}">Gérer les activités</a>
                            </li>
                            <li>
                                <a href="{{ path('tag') }}">Gérer les tags</a>
                            </li>
                            <li>
                                <a href="{{ path('blog') }}">Gérer les articles de blog</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('activity') }}">Voir les activités</a>
                            </li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>
                                    {{ app.user.username }}
                                    <i class="material-icons right">keyboard_arrow_down</i>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}" class="btn grey lighten-2 black-text text-lighten-2">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </section>

    {% endblock %}
</header>

<main>
    <section>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </section>
</main>


{% block footer %}
    <footer class="page-footer teal lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
                        voluptate unde obcaecati,</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Lien 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Lien 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Club Innovative
                <a class="grey-text text-lighten-4 right" href="#!">Lien</a>
            </div>
        </div>
    </footer>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
    <li><a href="{{ path('account') }}">Mon profil <i class="medium material-icons">account_circle</i></a></li>
    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('account_basket') }}">Mon panier <i class="medium material-icons">shopping_basket</i></a></li>
            <li><a href="{{ path('account_applications') }}">Mes applications <i class="medium material-icons">developer_board</i></a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_application_list') }}">Toutes les applications <i class="medium material-icons">shopping_basket</i></a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_calendar') }}">Calendrier des Admins<i class="medium material-icons">event</i></a></li>
            {% else %}
                <li><a href="{{ path('calendar') }}">Mon calendrier<i class="medium material-icons">event</i></a></li>
        {% endif %}

        <li><a href="{{ path('app_logout') }}">Déconnexion <i class="medium material-icons">keyboard_tab</i></a></li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/header.js') }}"></script>
{% endblock %}

</body>
</html>
